@import '../../app/kiki-settings'; 
@import '../../app/kiki'; 

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  background: red;
  margin-top: 50px;

  @include small { 
    background: green; 
  } 
} 
   